footer#CONTACT
    .wall
        //- img(src="../bhumi/bhumi16.jpg", alt="footer wallpaper") 
    .form 
        h2.upper IF YOU HAVE A POTENTIAL PROJECT OR COLLABORATION THAT YOU'D LIKE  TO DISCUSS,
        h3.italic.req please contact us
        a(class='mail upper' href='mailto:@admin.com') CONNECT@BHUMI.STUDIO
    .footer-content 
        include footerLogo
        .ext-links 
                .link
                    .cover
                    a(href="/##" ) TWITTER  
                .link
                    .cover
                    a(href="/##" ) INSTAGRAM  
                .link
                    .cover
                    a(href="/##" ) FACEBOOK
