.side-by-side#sbs
    h2.sbs-t.upper BHUMI IS AN INDIAN ACTRESS
    h2.sbs-t.italic Who loves to perform 
        strong headstrong small-town women
    .images 
        .img
            .cover
        .img
            .cover
    .decor 
        p.sbs-st.italic Acting passionately
        p.sbs-st.italic to challenge
            strong 
                strike Social Stigma
